body {
  color: #345737;
  font: 400 16px 'Muli', sans-serif !important;
}

/*HEADER*/
header {
  margin: 0;
  max-width: 100%;
  padding: 5px;
  text-align: center;
  overflow: auto;
}
.site-title {
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
}

.inner {
  padding: 20px;
}

/*TABLE*/



.c {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 10px;
}

/*table{
  margin: 10px auto;
}*/

table > tbody > tr.tableizer-firstrow > th {
  padding: 10px;
/*  background: #ABBFAC;*/
}

body > div> div.container-fluid.inner > table > tbody > tr > td{
  border: 4px solid #fff;
  width: 170px;
  padding: 10px;
}

td, a {
  color: #354039;
}

a:hover {
  color: #4B544B;
}

.content-wrapper {
    margin-top: 40px;
    min-height: 600px;
    padding-bottom: 60px;
}


.td {
  height: 30%;
}
/*NAV*/
.navContainer {
  background-color: #4B544B;
}


/*STATUS COLORS*/
.cold {
  background-color: #EEF2EE;
}

.applied {
  background-color: #D5DFD6;
}

.scheduled {
  background-color: #BCCCBD;
}

.interviewing {
  background-color: #ABBFAC;
}

.offer {
  background-color: #9AAC9B;
}

.denied {
   background-color: #89998A;
}
/*END STATUS COLORS*/


.inline {
  display: inline-block;
}

.center {
  text-align: center;
}

.form-group {
  padding-bottom: 1em;
}

.formSubmit {
  text-align: center;
}

.btn {
  font-size: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.edit, .edit > button {
  background-color: white;
}


/*NAV VIEW SUBHEADER*/
.viewBlock {
  padding-left: 2em;
  padding-right: 4em;
}

.viewHeader {
  font-size: 1em;
  font-weight: bold;
}

.checkbox {
  font-size: 0.9em;
}

ul {
  list-style-type: none;
  padding-left: 0.5em;
}

/*EDIT BUTTONS*/
  .hover-btn {
     position: absolute;
     padding-left: 0.2em;
     left: -1.7em;
     font-size: 0.6em;
     color: gray;
  }

  button:focus {
    outline:0 !important;
  }

  .heart-btn {
    margin-top: 6em;
  }

  .transparent {
    background-color: transparent;
  }

  .edit-btn {
    margin-top: 3em;
  }
  .heart-active {
    color: red;
  }

  .space {
    margin-bottom: 3em;
  }
