<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>Jobgress</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body ng-controller="jobController">
<!--   NAV -->
    <nav class="navbar navbar-default">
      <div class="container-fluid navContainer">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Hired</a>
          <ul class="nav navbar-nav">
            <li><a ng-click="addJob=true"><i class="fa fa-plus"></i> Add Job</a></li>
            <li><a ng-click="addJob=false">Tracking</a></li>
            <li><a ng-click="showViews = !showViews">Views</a></li>
          </ul>
        </div>
      </div>
    <div ng-show="showViews">
      <div class="row">
        <div class="col-xs-2 viewBlock">
          <h6 class="viewHeader">Company</h6>
            <div class="checkbox">
              <label >
                <input ng-click="companyNameToggle = !companyNameToggle" type="checkbox">Name
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input ng-click="companyIndustryToggle = !companyIndustryToggle" type="checkbox">Industry
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input ng-click="companyLocationToggle = !companyLocationToggle" type="checkbox">Location
              </label>
            </div>
        </div>
        <div class="col-xs-2 viewBlock">
          <h6 class="viewHeader">Position</h6>
            <div class="checkbox">
              <label>
                <input ng-click="positionTitleToggle = !positionTitleToggle" type="checkbox">Title
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input ng-click="positionSalaryToggle = !positionSalaryToggle" type="checkbox">Salary
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input ng-click="positionReqsToggle = !positionReqsToggle" type="checkbox">Requirements
              </label>
            </div>
        </div>
        <div class="col-xs-2 viewBlock">
          <h6 class="viewHeader">Contact</h6>
            <div class="checkbox">
              <label>
                <input ng-click="contactNameToggle = !contactNameToggle" type="checkbox">Name
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input ng-click="contactTitleToggle = !contactTitleToggle" type="checkbox">Job Title
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input ng-click="contactEmailToggle = !contactEmailToggle"type="checkbox">Email
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input ng-click="contactPhoneToggle = !contactPhoneToggle" type="checkbox">Phone
              </label>
            </div>
        </div>
        <div class="col-xs-2 viewBlock">
          <h6 class="viewHeader">Tracking</h6>
            <div class="checkbox">
              <label>
                <input ng-click="trackingStatusToggle = !trackingStatusToggle" type="checkbox">Status
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input ng-click="trackingAppliedToggle = !trackingAppliedToggle" type="checkbox">Applied
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input ng-click="trackingContactToggle = !trackingContactToggle" type="checkbox">Last Contact
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input ng-click="trackingNotesToggle = !trackingNotesToggle" type="checkbox">Notes
              </label>
            </div>
        </div>
      </div>
    </div>
  </nav>
<!--END NAV-->


<div ng-views>
  <!-- insert pages here -->
</div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/routes.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
  </body>
</html>
