
<!-- TABLE -->
  <div class="allTable">
    <header>
      <h1 class="site-title">tracking</h1>
      <p>Manage all job applications</p>
    </header>


    <div class="container-fluid inner">

<!-- JOB TABLE -->
      <table class="tableizer-table table table-hover table-responsive" data-card-view="true">
        <tr class="tableizer-firstrow">
          <th ng-show="editShow">
            <a> </a>
          </th>
          <th ng-hide="trackingStatusToggle">
            <a ng-click="sortType = 'status'; sortReverse = !sortReverse">Status <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span></a>
          </th>
          <th ng-hide="companyNameToggle">
            <a ng-click="sortType = 'company'; sortReverse = !sortReverse">Company <span ng-show="sortType == 'company' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'company' && sortReverse" class="fa fa-caret-up"></span></a>
          </th>
          <th ng-hide="companyIndustryToggle">
            <a ng-click="sortType = 'industry'; sortReverse = !sortReverse">Industry <span ng-show="sortType == 'industry' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'industry' && sortReverse" class="fa fa-caret-up"></span></a>
          </th>
          <th ng-hide="companyLocationToggle">
            <a ng-click="sortType = 'location'; sortReverse = !sortReverse">Location <span ng-show="sortType == 'location' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'location' && sortReverse" class="fa fa-caret-up"></span></a>
          </th>
          <th ng-hide="positionTitleToggle">
            <a ng-click="sortType = 'position'; sortReverse = !sortReverse">Position <span ng-show="sortType == 'position' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'position' && sortReverse" class="fa fa-caret-up"></span></a>
          </th>
          <th ng-hide="salaryToggle">
            <a ng-click="sortType = 'salary'; sortReverse = !sortReverse">Salary <span ng-show="sortType == 'salary' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'salary' && sortReverse" class="fa fa-caret-up"></span></a>
          </th>
          <th ng-hide="requirementsToggle">
            <a ng-click="sortType = 'requirements'; sortReverse = !sortReverse">Requirements <span ng-show="sortType == 'requirements' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'requirements' && sortReverse" class="fa fa-caret-up"></span></a>
          </th>
          <th ng-hide="contactNameToggle">
            <a ng-click="sortType = 'contact'; sortReverse = !sortReverse">Contact <span ng-show="sortType == 'contact' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'contact' && sortReverse" class="fa fa-caret-up"></span></a>
          </th>
          <!-- <th ng-hide="appliedToggle">
            <a ng-click="sortType = 'applied'; sortReverse = !sortReverse">Applied <span ng-show="sortType == 'applied' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'applied' && sortReverse" class="fa fa-caret-up"></span></a>
          </th>
          <th ng-hide="recentContactToggle">
            <a ng-click="sortType = 'recentContact'; sortReverse = !sortReverse">Last Contact <span ng-show="sortType == 'recentContact' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'recentContact' && sortReverse" class="fa fa-caret-up"></span></a>
          </th> -->
          <th ng-hide="notesToggle">
            <a ng-click="sortType = 'notes'; sortReverse = !sortReverse">Notes <span ng-show="sortType == 'notes' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'notes' && sortReverse" class="fa fa-caret-up"></span></a>
          </th>
        </tr>
      <tbody id="tableBody" ng-repeat="job in jobs | orderBy:sortType:sortReverse | filter:searchJobs">
        <tr class={{job.status}}>
          <td ng-hide="trackingStatusToggle">
            <div class="hover-btn remove-btn">
              <button ng-click="deleteCompany(job._id)" type="button" class="btn btn-xs glyphicon glyphicon-remove">
              </button>
            </div>
            <div class="hover-btn edit-btn" ng-click="editForm = !editForm">
              <button type="button" class="btn btn-xs glyphicon glyphicon-edit">
              </button>
            </div>
            <div class="hover-btn heart-btn">
              <button type="button" class="heart btn glyphicon glyphicon-heart">
              </button>
            </div>
          {{ job.status }}
          </td>
          <td ng-click="redirect(job.companyURL)" ng-hide="companyNameToggle"><a>{{ job.companyName }}</a></td>
          <td ng-hide="companyIndustryToggle">{{ job.industry }}</td>
          <td ng-hide="companyLocationToggle">{{ job.location }}</td>
          <td ng-hide="positionTitleToggle">{{ job.positionTitle }}</td>
          <td ng-hide="salaryToggle">{{ job.salary | currency:symbol:0 }}</td>
          <td ng-hide="requirementsToggle">{{ job.requirements }}</td>
          <td ng-hide="contactNameToggle">
            {{ job.contactName }}
            <ul><i>
              <li>{{ job.contactTitle }}</li>
              <li>{{ job.contactEmail }}</li>
              <li>{{ job.contactPhone }}</li>
            </i></ul>
          </td>
         <!--  <td ng-hide="appliedToggle">{{ job.applied }}</td> -->
          <!-- <td ng-hide="recentContactToggle">{{ job.recentContact }}</td> -->
          <td ng-hide="notesToggle">
          {{ job.notes }}
          </td>
        </tr>
<!-- EDIT TABLE HERE -->
        <tr ng-show="editForm" ng-keyup="editCompany(job._id)">
          <td ng-hide="trackingStatusToggle">
            <select name="hey" class="form-control statusForm" >
              <option class="cold">cold</option>
              <option class="applied">applied</option>
              <option class="scheduled">scheduled</option>
              <option class="interviewing">interviewing</option>
              <option class="offer">offer</option>
              <option class="denied">denied</option>
            </select>
          </td>
          <td ng-hide="companyNameToggle">
            <input placeholder="Name" type="text" class="form-control" id="companyName">
            <br>
            <input placeholder="URL" type="text" class="form-control" id="companyURL">
          </td>
          <td ng-hide="companyIndustryToggle">
            <input placeholder="Industry" type="text" class="form-control" id="industry">
          </td>
          <td ng-hide="companyLocationToggle">
            <input placeholder="Location" type="text" class="form-control" id="location">
          </td>
          <td ng-hide="positionTitleToggle">
            <input placeholder="Title" type="text" class="form-control" id="positionTitle">
            <br>
            <input placeholder="URL" type="text" class="form-control" id="positionURL">
          </td>
          <td ng-hide="salaryToggle">
            <input type="number" name="currency" min="1" max="1000000000" placeholder="Salary" type="text" class="form-control" id="salary"></td>
          <td ng-hide="requirementsToggle">
            <input placeholder="Requirements" type="text" class="form-control" id="required">
          </td>
          <td ng-hide="contactNameToggle">
            <input placeholder="Name" type="text" class="form-control" id="contactName">
            <br>
            <input placeholder="Title" type="text" class="form-control" id="contactTitle">
            <br>
            <input placeholder="Email" type="text" class="form-control" id="contactEmail">
            <br>
            <input placeholder="Phone Number" type="number" size="10" class="form-control" id="contactPhone">
          </td>
          <td ng-hide="notesToggle">
            <textarea rows="3" placeholder="Additional notes" ng-model="newJob.notes" type="text" class="form-control" id="notes">{{ job.notes }}</textarea>
          </td>
        </tr>

<!-- END EDIT TABLE -->
      </tbody>
      </table>
    </div>
  </div>
